*{
    font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}

body{
    color : black;
    background-color: #fafafa;
    text-align: center;
}

div{
    border-radius: 4px;
}

a,
a:visited{
    color: inherit;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.logo{
    flex: 1;
}
.name{
    flex: 1;
    text-align: center;
    font-size: 2em;
    margin: 55px;
}
.gallery{
    flex: 1;
    max-height: 1000px;
    overflow-y: scroll;
    text-align: center;
    font-size: 1.5em;
    margin: 35px;
}
.gallery_title{
    max-height: 1000px;
    text-align: center;
    font-size: 1.5em;
    margin: 35px;
}
.new_post{
    max-height: 1000px;
    text-align: center;
    font-size: 1.4em;
    margin: 35px;
}
.log{
    flex: 2;
    margin: 30px;
}

.header {
    background-color: white;
    border : 1px solid black;
    padding : 5px;
    margin : 10px;
    display : flex;
}

.middle {
    display: flex;
}
.pic{
    margin:10px;
}
.pic input{   
    display : none;
}
.footer {
    padding : 5px;
    margin : 10px;
    text-align: right;
    font-size: 1em;
    font-family: monospace;
}