*{
    font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}

body{
    color : black;
    background-color: #fafafa;
    text-align: center;
}

div{
    border-radius: 4px;
}

a,
a:visited{
    color: inherit;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#main{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    flex: 1;
}
.name{
    flex: 1;
    text-align: center;
    font-size: 2em;
    margin: 55px;
}
.log{
    flex: 2;
    margin: 30px;
}

.header {
    background-color: white;
    border : 1px solid black;
    padding : 5px;
    margin : 10px;
    display : flex;
    box-shadow: 1px 2px 7px gray;
    width: 1392px;
}
.frame {
    background-color: white;
    border : 1px solid black;
    box-shadow: 1px 2px 7px gray;
    padding : 5px;
    margin : 10px;
    flex : 1;
}
.main {
    background-color: white;
    border : 1px solid black;
    box-shadow: 1px 2px 7px gray;
    padding : 5px;
    margin : 10px;
    flex : 2;
    text-align: center;
}
.side {
    background-color: white;
    border : 1px solid black;
    box-shadow: 1px 2px 7px gray;
    padding : 5px;
    margin : 10px;
    flex : 1;
}

.middle {
    display: flex;
}
.gallery{
    max-height: 1000px;
    margin: 10px;
    overflow-y: scroll;
}
.pic{
    margin:10px;
}
.pic input{   
    display : none;
}
.footer {
    padding : 5px;
    margin : 10px;
    text-align: right;
    font-size: 1em;
    font-family: monospace;
}
.button a {
    display:block;
    width:150px;
    line-height:50px;
    text-align:center;
    vertical-align:middle;
    background:url('http://img11.hostingpics.net/pics/855839boutonnoir.png') no-repeat;
    color:white;
    text-decoration:none;
}

.button a:hover {
    background:url('http://img11.hostingpics.net/pics/988546boutonnoir2.png') no-repeat;
}
.canvas{
    margin-top: -320px;
}
.gallery_title{
    max-height: 1000px;
    text-align: center;
    font-size: 1.5em;
    margin: 35px;
}
.new_post{
    max-height: 1000px;
    text-align: center;
    font-size: 1.4em;
    margin: 35px;
}