*{
    font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}

body{
    color : black;
    background-color: #fafafa;
    text-align: center;
}

#main{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#login_form{
	position: relative;
    margin:auto;
    height: auto;
    width:300px;
    background-color: white;
	text-align: center;
	border:solid black 1px;
}

.form_input{
    position: relative;
    margin:auto;
    height: auto;
    width:300px;
    padding: 12px;
}

#for_pwd{
    margin:20px;
}

.footer {
    padding : 5px;
    margin : 10px;
    text-align: right;
    font-size: 1em;
    font-family: monospace;
}